.container {
  border: solid 5px rgb(207, 9, 197);
  margin: 0 auto;
  padding-right: $p_s;
  padding-left: $p_s;
  @include mq(mobile) {
    width: $mobile;
  }

  @include mq(tablet) {
    padding-right: $p_m;
    padding-left: $p_m;
    width: $tablet;
  }

  @include mq(desktop) {
    padding-right: $p_xl;
    padding-left: $p_xl;
    width: $desktop;
  }
}
