body .Toastify__toast-container--top-right {
  top: 7em;
  right: 2em;
}
body .Toastify__toast-theme--dark {
  background-color: rgba(64, 73, 102, 1);
  border-radius: $gl_radius;
}

body .Toastify__progress-bar--success {
  border-bottom: 4px solid rgb(64, 176, 107);
}
