//Typography
$main_font: 'Inter', sans-serif;
$font_size_base: 1.6rem;

//Colors
$dark_pink: #ef7fa5;
$pink: #ffabc7;
$pink_hover: #ffabc733;
$pink_active: #ffabc799;
$light_pink: #ffeaec;
$white: #ffffff;
$gray: #bdc4cd;
$black_blue: #2c3141;
$dark_blue: #404966;
$black: #161921;
$yellow: #f7cf6a;
$green: #3faf6a;
$blue: #468cf2;
$light_blue: #afd0ff;
$dark_gray: #757575;
$red: #ba1e26;
$light_red: #f0585b;

//Text
$primary_text_color: $white;
$secondary_text_color: $light_pink;
$input_text_color: $black;
$input_placeholder_color: $gray;

// Background
$primary_background_color: $black_blue;
$secondary_background_color: $dark_blue;
$disable_background_color: $gray;
$input_background_color: $white;

//Accent

$accent_color: $dark_pink;
$accent_color_hover: $pink;

$accent_color_stock: $green;
$outOfStock: $light_red;
$accent_color_stars: $yellow;
$border_color: $gray;

//Spacing
$p_s: 1.4rem;
$p_m: 2.4rem;
$p_xl: 8rem;
$m_m: 2.4rem;

//Borders
$gl_radius: 0.8rem;
$border: 0.1rem solid $border_color;

//Transitions & Animation
$transition: all 250ms cubic-bezier(0.53, 0.5, 0.53, 0.52) 0s;
