//Typography
$main_font: 'Inter', sans-serif;
$font_size_base: 1.6rem;

//Colors
//Text
$primary_text_color: rgba(255, 255, 255, 1);
$secondary_text_color: rgba(255, 234, 236, 1);
$input_text_color: rgb(0, 0, 0);
$input_placeholder_color: rgba(189, 196, 205, 1);

// Background
$primary_background_color: rgb(44, 49, 65);
$secondary_background_color: rgb(64, 73, 102);
$disable_background_color: rgba(189, 196, 205, 1);
$input_background_color: rgba(255, 255, 255, 1);

//Accent

$accent_color: rgb(239, 127, 165);
$accent_color_hover: rgb(255, 171, 199);

$accent_color_stock: rgba(63, 175, 106, 1);
$outOfStock: rgba(240, 88, 91, 1);
$accent_color_stars: rgba(247, 207, 106, 1);
$border_color: rgba(189, 196, 205, 1);

//Spacing
$p_s: 1.4rem;
$p_m: 2.4rem;
$p_xl: 8rem;
$m_m: 2.4rem;

//Borders
$gl_radius: 0.8rem;
$border: 0.1rem solid $border_color;

//Transitions & Animation
$transition: all 250ms cubic-bezier(0.53, 0.5, 0.53, 0.52) 0s;
