//Typography
$main_font: 'Inter', sans-serif;
$font_size_base: 1.6rem;

//Colors
$dark_pink: #EF7FA5;
$pink: #FFABC7;
$light_pink: #FFEAEC;
$white: #FFFFFF;
$gray: #BDC4CD;
$black_blue: #2C3141;
$dark_blue: #404966;
$black: #161921;
$yellow: #F7CF6A;
$green: #3FAF6A;
$blue: #468CF2;
$light_blue: #AFD0FF;
$dark_gray: #757575;
$red: #BA1E26;
$light_red: #F0585B;

//Text
$primary_text_color: $white;
$secondary_text_color: $light_pink;
$input_text_color: $black;
$input_placeholder_color: $gray;

// Background
$primary_background_color: $black_blue;
$secondary_background_color: $dark_blue;
$disable_background_color: $gray;
$input_background_color: $white;

//Accent

$accent_color: $dark_pink;
$accent_color_hover: $pink;

$accent_color_stock: $green;
$outOfStock: $light_red;
$accent_color_stars: $yellow;
$border_color: $gray;

//Spacing
$p_s: 1.4rem;
$p_m: 2.4rem;
$p_xl: 8rem;
$m_m: 2.4rem;

//Borders
$gl_radius: 0.8rem;
$border: 0.1rem solid $border_color;

//Transitions & Animation
$transition: all 250ms cubic-bezier(0.53, 0.5, 0.53, 0.52) 0s;
