.labelsWrapper {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: #dadada;
}

.inputError {
  margin-top: 5px;
  color: #d43728;
  font-size: 12px;
  border-color: red !important;
}

.labelError,
.errorMessage {
  color: red;
}

.inputContainer {
  position: relative;
  @include flex();
  gap: 8px;
  background-color: $primary-text-color;
  border-radius: $gl_radius;
  font-size: 12px;
  font-weight: 500;

  input {
    padding: 1.2rem 0;
    border: none;
    color: $input-text-color;
    background-color: $input_background_color;
  }

  input:focus {
    outline: transparent;
  }
  input[disabled] {
    cursor: not-allowed;
  }
  input::placeholder {
    color: $input-text-color;
  }

  svg {
    @include svg;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}
