input {
  border: none;
  color: $secondary-text-color;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $primary-text-color inset !important;
  -webkit-text-fill-color: $secondary-text-color !important;
}

input[disabled] {
  cursor: not-allowed;
}

input:focus {
  outline: none;
}

.inputError {
  margin-top: 5px;
  color: #d43728;
  font-size: 12px;
}

.inputContainer {
  position: relative;
  @include flex-container;
  background-color: $primary-text-color;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  padding: 12px 12px 12px 40px;
  gap: 8px;

  input {
    flex: 1;
  }
  img:first-child {
    position: absolute;
    top: 12px;
    left: 12px;
  }
}
