.description {
  max-width: 73.4rem;
  font-size: 1.6rem;
  line-height: 1.5;

  &__title {
    @include title_global;
    margin-bottom: 0.8rem;
  }

  &__text,
  &__quantity,
  &__supplier,
  &__ingredients {
    @include flex($jc: flex-start);
    width: 100%;
    padding: 2.4rem 0;
    font-weight: 600;
    border-bottom: solid 0.1rem $gray;
  }

  &__text {
    font-weight: 400;
    border-bottom: none;
  }
  &__ingredients {
    border-bottom: none;
  }

  span {
    margin-left: 7rem;
    font-weight: 400;
    text-transform: lowercase;
  }
}
