.slider {
  width: 100%;
  margin: 0 auto;
  &__title_wrapper {
    @include flex($jc: space-between);
    margin-bottom: 2.4rem;
  }
  &__title {
    font-size: 3.2rem;
    line-height: 1.3;
    font-weight: 600;
  }
  &__link {
    font-size: 1.6rem;
    line-height: 1.3;
    color: $primary_text_color;
    cursor: pointer;
    @include transition_all;

    &::after {
      position: absolute;
      content: ' ';
      display: block;
      width: 8.8rem;
      height: 0.1rem;
      background-color: $primary_text_color;
      transition: $transition;
    }
    &:hover,
    &:focus {
      color: $accent_color;
    }
    &:hover::after {
      background-color: $accent_color;
    }
  }
  &__prev {
    @include svg;
    position: absolute;
    top: calc(50% - 16px);
    left: -33px;
    box-sizing: border-box;
    height: 3.2rem;
    width: 3.2rem;
    stroke-width: 1;
    stroke: $secondary_text_color;
    cursor: pointer;
  }
  &__next {
    @include svg;
    position: absolute;
    top: calc(50% - 16px);
    right: -33px;
    box-sizing: border-box;
    height: 3.2rem;
    width: 3.2rem;
    stroke-width: 1;
    stroke: $secondary_text_color;
    cursor: pointer;
  }
}
:global(.slick-track) {
  display: flex !important;
  justify-content: center;
  gap: 2.4rem;
}

:global(.slick-dots) {
  display: flex !important;
  justify-content: center;
  padding: 0;
  gap: 0.7rem;
}

:global(.slick-dots li) {
  margin: 0;
  width: 0.8rem;
  height: 0.8rem;
}
:global(li.slick-active) {
  margin: 0;
  width: 2.4rem;
  height: 0.8rem;
}

:global(.slick-dots li button) {
  width: 0.8rem;
  height: 0.8rem;
  cursor: pointer;
  &::before {
    display: block;
    content: ' ';
    width: 0.8rem;
    height: 0.8rem;
    background-color: $secondary_text_color;
    border-radius: 50%;
    opacity: 0.6;
    transition: $transition;
  }
}

:global(.slick-dots li.slick-active button::before) {
  display: block;
  content: ' ';
  width: 2.4rem;
  height: 0.8rem;
  background-color: $secondary_text_color;
  border-radius: 0.7rem;
  opacity: 1;
  transition: $transition;
}
