.button {
  @include flex;
  height: 4.8rem;
  width: 100%;
  background-color: $accent_color;
  color: $primary_text_color;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  @include transition_all;

  &:hover {
    background-color: $accent_color_hover;
  }
  &:active {
    background-color: $disable_background_color;
  }
  &__icon {
    margin-right: 0.8rem;
    width: 1.8rem;
    height: 1.8rem;
  }
  &:disabled {
    background-color: $disable_background_color;
    cursor: not-allowed;
  }
}
