.headerControl {
  @include flex;
  gap: 2rem;

  &__lang {
    @include flex();
  }

  &__list {
    @include flex;
    gap: 1.6rem;
  }

  &__btn {
    @include btn_svg;
    color: $primary_text_color;
    border-radius: $gl_radius;
    cursor: pointer;
    @include transition_all;
    &:hover,
    &:focus {
      background-color: $primary_background_color;
    }
    &:active {
      background-color: $accent_color;
    }
  }
  svg {
    @include svg;
  }
}
