.btn {
  @include flex;
  padding: 1.2rem 0;
  width: 100%;
  background-color: $accent_color;
  color: #fff;
  border-radius: $gl_radius;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
  cursor: pointer;
  @include transition_all;
  &:hover {
    background-color: $accent_color_hover;
  }
  &:active {
    background-color: $disable_background_color;
  }
}
