.hero {
    height: 736px;
    padding-top: 214px;
    background-image: url('../../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;

    &_header {
        margin-bottom: 6px;
        width: 625px;
        font-weight: 800;
        font-size: 48px;
        line-height: 1.17;
        text-transform: uppercase;
    }

    &_text {
        width: 600px;
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 1.5;
    }

    &_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 304px;
        height: 48px;
        border-radius: 8px;
        background-color: #EF7FA5;

        &:hover {
            background-color: #EE90B0;
        }

        &:focus {
            background-color: #EF7FA5;
        }
    }
}