@import '../../../../styles/helpers/vars.scss';

.title {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  background-color: $dark_blue;
  width: 100%;
  max-width: 302px;
  border-radius: 8px;
  margin-top: 16px;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  cursor: pointer;
}
