@import '../../../../styles/helpers/vars.scss';

.title {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
  background-color: $dark_blue;
  border-radius: 0.8rem;
  margin-top: 1.6rem;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  cursor: pointer;
}
