@import '../../../../../styles/helpers/vars.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 24px 16px 24px;
}

.list {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
}

.text {
  font-size: 16px;
  color: $light-pink;
  font-weight: normal;
}
