.card {
  position: relative;
  width: 90%;
  margin: 0 auto;
  background-color: #404966;
  border-radius: 0.8rem;
  padding: 2.5rem 2.4rem;
}
.sale {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 5.1rem;
  height: 5.3rem;
  border-radius: 0.8rem 0rem;
  background-color: $accent_color_stock;
  z-index: 1;
}
.img_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_wrapper img {
  max-width: 100%;
  border-radius: 0.4rem;
}
.wish {
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0.6rem;
  background-color: #404966;
  cursor: pointer;
}
.wish_img {
  color: #ffffff;
  width: 2rem;
  height: 2rem;
}
.rating_instock_wrapper {
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating_star {
  width: 1.3rem;
  height: 1.3rem;
  color: $accent_color_stars;
  margin-right: 0.2rem;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  //   line-height: 1rem;
  margin-left: 0.2rem;
  color: $accent_color_stars;
}
.inStock {
  position: relative;
  color: $accent_color_stock;
  font-size: 1rem;
  font-weight: 400;
  margin-right: 0.5rem;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -1.4rem;
    transform: translateY(-50%);
    height: 1.1rem;
    width: 1.1rem;
    background-image: url('../../assets/icons/check.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
.title {
  margin-top: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.description {
  margin-top: 0.8rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.salePrice {
  margin-top: 0.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: line-through;
  color: #ffeaec;
}
.price {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
}
