body .Toastify__toast-container--top-right {
  top: 7em;
  right: 1em;
}
body .Toastify__toast-theme--dark {
  background-color: #404966;
}
body .Toastify__progress-bar--success {
  background-color: #3faf6a;
}
