$background-color: rgba(37, 41, 56, 1);
$primary-color: rgba(68, 68, 68, 1);
$primaty-color-light: rgba(68, 75, 101, 1);
$nav-color: rgba(73, 86, 118, 1);
$accent-color: rgba(210, 112, 145, 1);
$accent-color-light: rgba(251, 209, 214, 1);
$accent-color-medium: rgba(238, 166, 174, 1);
$primary-text-color: rgba(255, 255, 255, 1);
$secondary-text-color: rgba(117, 117, 117, 1);
$input-text-color: rgba(189, 196, 205, 1);
$modal-background-color: #2c3141;

$main-font: 'Inter', sans-serif;
