.tabs_wrapper {
  @include flex($jc: flex-start);
  gap: 4rem;
  margin-bottom: 5.6rem;
  width: 73.4rem;
  border-bottom: solid 0.1rem rgba(255, 234, 236, 0.4);
}
.tabs {


  &__isActive,
  &__secondary {
    padding: 0 1.6rem;
    width: fit-content;
    font-size: 2.4rem;
    font-weight: 400;
    background-color: transparent;
    border-radius: 0;
    border-bottom: solid 0.4rem transparent;

  }
  &__isActive {
    font-weight: 700;
    color: $accent_color;
    border-bottom: solid 0.4rem $accent_color;
  }

  &__secondary {
    color: $secondary_text_color;
  }
  &__isActive:hover,
  &__secondary:hover {
    background-color: transparent;
  }
}
