.wrapper {
  @include flex($jc: flex-start);
  gap: 1.2rem;
  &__text {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
.favorite {
  @include flex;
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0.6rem;
  color: $primary_text_color;
  background-color: $secondary_background_color;
  cursor: pointer;
  @include transition_all;

  &:hover,
  &:focus {
    background-color: $primary_background_color;
  }

  &__icon {
    color: $primary_text_color;
    width: 2rem;
    height: 2rem;
  }

  &__addedIcon {
    fill: $secondary_text_color;
    stroke: $secondary_text_color;
    width: 2rem;
    height: 2rem;
  }
}

.favorite_product {
  @include flex;
  width: 2.4rem;
  height: 2.4rem;
  color: $primary_text_color;
  background-color: transparent;
  cursor: pointer;
  @include transition_all;

  &:hover,
  &:focus {
    background-color: $primary_background_color;
  }

  &__icon {
    color: $primary_text_color;
    width: 2.4rem;
    height: 2.4rem;
  }

  &__addedIcon {
    fill: $secondary_text_color;
    width: 2rem;
    height: 2rem;
  }
}
