.logo {
  max-width: 110px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 3px;

  .logoImg {
    width: 28px;
    height: 26px;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/icons/plumFlower.svg');
  }

  .logoTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 600;
    font-size: 1.6rem;
    color: $secondary-text-color;
  }

  .logoSubtitle {
    font-weight: 500;
    font-size: 1.2rem;
    color: $accent-color-light;
  }
}
