.cart {
  &__wrapper {
    @include flex($jc: flex-start, $ai: flex-start);
    gap: 3rem;
    max-width: 48.7rem;
  }
  &__img {
    border-radius: 0.8rem;
  }
  &__text_wrapper {
    @include flex($ai: flex-start);
    flex-direction: column;
    gap: 0.4rem;
  }
  &__title {
    max-width: 25rem;
    @include text;
    font-size: 1.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }
}
.clear_btn {
  margin-left: auto;
  padding: 0;
  width: 3.2rem;
  height: 3.2rem;
  color: $border_color;
  background-color: transparent;
  &:focus,
  &:hover,
  &:active {
    color: $accent_color_hover;
    background-color: transparent;
  }
}
