.mainHeader {
  padding: 23px 0px;
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn {
    width: 163px;
    height: 48px;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #cb5980;
    font-size: 16px;
    font-weight: 600;
    color: $primary-text-color;
    border: none;
    gap: 8px;

    &:hover {
      background: #ef7da4;
    }

    &:focus {
      background: #cb5980;
    }
  }

  .inputControl {
    max-width: 410px;
    width: 100%;
  }

  .searchInput {
    padding: 0 12px 0 40px;
  }

  .headerBlock {
    @include flex-container;
  }

  .headerBlock:first-child {
    gap: 100px;
  }

  .headerBlock:last-child {
    flex: 1;
  }
}
