.card {
  position: relative;
  min-width: 30.2rem;
  background-color: $secondary_background_color;
  border-radius: 0.8rem;
  padding: 2.4rem;
  cursor: pointer;

  &__sale {
    display: flex;
    position: absolute;
    padding: 12px;
    left: 0;
    top: 0;
    border-radius: 0.8rem 0rem;
    background-color: $accent_color_stock;
    z-index: 1;
  }
}

.img_wrapper {
  @include flex;
  position: relative;
}
.img_wrapper img {
  max-width: 100%;
  border-radius: 0.4rem;
}
.wish {
  @include flex;
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0.6rem;
  color: $primary_text_color;
  background-color: $secondary_background_color;
  cursor: pointer;
  @include transition_all;
  &:hover,
  &:focus {
    background-color: $primary_background_color;
  }

  svg:hover {
    @include svg;
  }
}
.wish_img {
  color: $primary_text_color;
  width: 2rem;
  height: 2rem;
}
.wish_favimg {
  fill: $secondary_text_color;
  width: 2rem;
  height: 2rem;
}
.rating_instock_wrapper {
  @include flex($jc: space-between);
  margin-top: 0.8rem;
}
.rating_wrapper {
  @include flex();
}
.fullStar,
.halfStar {
  width: 1.3rem;
  height: 1.3rem;
  color: $accent_color_stars;
  fill: $accent_color_stars;
  margin-right: 0.2rem;
}

.emptyStar {
  width: 1.3rem;
  height: 1.3rem;
  color: $accent_color_stars;
  fill: transparent;
  margin-right: 0.2rem;
}
.rating {
  @include flex();
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 0.2rem;
  color: $accent_color_stars;
}
.inStock,
.outOfStock {
  position: relative;
  color: $accent_color_stock;
  font-size: 1rem;
  font-weight: 400;
  margin-right: 0.5rem;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -1.6rem;
    transform: translateY(-50%);
    height: 1.1rem;
    width: 1.1rem;
    background-image: url('../../assets/icons/check.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
.outOfStock {
  color: $outOfStock;
  &::before {
    background-image: url('../../assets/icons/out_of_stock.svg');
  }
}
.title {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 1.2rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.salePrice {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: line-through;
  color: $secondary_text_color;
}
.price {
  margin-top: 0.8rem;
  margin-bottom: 2.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: $primary_text_color;
}
