.header {
  padding: 2rem 0rem;
  gap: $py_m;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalogBtn {
  @include flex();
  gap: 0.8rem;
  padding: 1.2rem;
  max-width: 19.4rem;
  color: $primary_text_color;
  background-color: $accent_color;
  border-radius: $gl_radius;
  svg {
    @include svg;
  }
}
.catalogBtn:hover,
.catalogBtn:focus {
  background-color: $accent_color_hover;
}
