.searchForm {
  @include flex($jc: space-between);
  align-self: stretch;
  gap: 0.8rem;
  padding: 0 1.6rem;
  min-width: 41rem;
  background-color: $input_background_color;
  border-radius: $gl_radius;

  &__btnSearch {
    color: rgba(68, 68, 68, 1);
    svg {
      @include svg;
    }
  }

  &__btnClose {
    color: $input_text_color;
    svg {
      @include svg;
      width: 2rem;
      height: 2rem;
    }
  }
}
