.pagination {
  list-style: none;
  margin-top: 3.2rem;
  @include flex();
  justify-content: right;
  align-items: center;
  margin-top: 0.2rem;
  gap: 1rem;
  cursor: pointer;
}

.active {
  background-color: #ef7fa5;
  border-radius: 0.8rem;
}

.pageitem {
  min-height: 4.8rem;
  min-width: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.2rem;
}
