.advantage {
  &__item {
    @include flex($jc: space-between, $ai: flex-start);
    gap: 1.6rem;
  }
  &__icon {
    width: 5.6rem;
    height: 5.6rem;
    background-position: center;
    background-repeat: no-repeat;

    svg {
      @include svg;
      width: 5.6rem;
      height: 5.6rem;
      stroke-width: 1.5;
      stroke: $secondary_text_color;
    }
  }
  &__title {
    margin-bottom: 0.8rem;
    min-width: 230px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.2;
    color: $accent_color_hover;
  }
  &__text {
    font-size: 1.6rem;
    line-height: 1.5;
    color: $primary_text_color;
  }
}
