.wrapper {
  margin-right: 27px;
  margin-bottom: 12rem;

  .main_img {
    border-radius: 1.6rem;
    background-color: $white;
    object-fit: contain;
  }
}

.secondary_wrapper {
  @include flex($jc: flex-start);
  gap: 3.3rem;
  margin-top: 2.4rem;
}
