.wrapper {
  @include flex();
  flex-direction: column;
  margin-left: auto;
  max-width: 30.4rem;
  width: 100%;

  text-align: center;
  h2 {
    margin-bottom: 3.2rem;
    @include title_global;
  }
  p {
    margin-bottom: 5.6rem;
    @include text;
  }
  button {
    margin-bottom: 1.6rem;
    max-width: 30.4rem;
  }
  a {
    position: relative;
    display: block;
    width: 8.8rem;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    @include transition_all;
    &::after {
      position: absolute;
      content: ' ';
      display: block;
      width: 8.8rem;
      height: 0.1rem;
      background-color: $secondary_text_color;
      bottom: 0;
      @include transition_all;
    }
    &:focus,
    &:hover,
    &:active {
      color: $accent_color;
    }
    &:hover::after,
    &:focus::after,
    &:active::after {
      background-color: $accent_color;
    }
  }
}
