.subHeader {
  background-color: $nav-color;

  .wrapper {
    padding: 12px 10px;
    @include flex-container;
  }

  .info {
    @include flex-container;
    gap: 26px;
  }

  .links {
    @include flex-container;
    gap: 16px;
  }

  .location {
    @include flex-container;
    gap: 4px;
  }
}
