.footer {
  width: 100%;
  padding: 2.8rem 0px;
  background-color: $secondary_background_color;

  &__container {
    @include flex($jc: space-between, $ai: flex-start);
    margin: 0 auto;
    gap: $p_m;
  }
  &__logowrapper {
    @include flex($ai: flex-start);
    flex-direction: column;
    gap: $p_m;
  }
  &__list {
    @include flex();
  }
}

.address {
  font-size: $font_size_base;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;

  &__list {
    @include flex($ai: flex-start);
    flex-direction: column;
    gap: 0.8rem;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
    svg {
      @include svg;
      stroke: $accent_color;
    }
  }
}

.footer_shedule {
  margin-top: 16px;
  width: 193px;
}

.footer_sheduleText {
  line-height: 1.3;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.footer_sheduleText__header {
  font-weight: 600;
  font-size: 16px;
}
