@mixin btn_global {
  @include flex();
  padding: $py_s 0;
  font-family: $main_font;
  font-size: $font_size_base;
  font-weight: 500;
  text-align: center;
  line-height: normal;
  color: $primary_text_color;
  background-color: $accent_color_active;
  border-radius: $gl_radius;
  cursor: pointer;
  @include transition_all;

  &:hover,
  &:focus {
    background-color: $accent_color_hover;
  }
}
