.container {
  position: absolute;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  height: 53px;
  width: 51px;
  padding: 10px 0;
  border-radius: 6px 0px 6px 0px;
  filter: drop-shadow(0px 1px 8px rgba(56, 56, 56, 0.08));
  background-color: rgb(60, 160, 98);
  text-align: center;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: white;
}
