.catalog__wrapper {
  max-width: 128rem;
  @include flex($jc: flex-end, $ai: flex-end);
  flex-direction: column;
  gap: 3.2rem;
}
.select__wrapper {
  width: 30.2rem;
  align-self: flex-end;
  z-index: 1000;
  color: $dark-blue;
  background-color: $dark-blue !important;
}
