.slider_container {
    width: 1280px;
    margin: 0 auto;
}

.slider_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    margin-bottom: 16px;
}

.slider_name {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.3;
}

.slider_link {
    font-size: 16px;
    line-height: 1.21;
}

.slider_content {
    position: relative;
    width: 1280px;
    height: 401px;
}

.slider_window {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slider_cards {
    height: 100%;
    display: flex;
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    height: 401px;
    min-width: 302px;
    margin-right: 24px;
    background-color: firebrick;
}