.headerControl {
  @include flex;
  gap: 2rem;
}

.headerControlList {
  @include flex;
  gap: 1.6rem;
}
.headerControlListBtn {
  @include flex();
  @include transparent;
  color: $primary_text_color;
  border-radius: $gl_radius;
  cursor: pointer;
  transition: $transition;
  :hover,
  :focus {
    background-color: $accent_color_hover;
  }
}
.headerControlListSvg {
  @include svg;
}
