.headerControl {
  @include flex-container;
  gap: 20px;
}

.controlBtns {
  @include flex-container;
  gap: 16px;

  button {
    padding: 5px;
    background-color: transparent;
  }

  button:hover {
    background-color: $accent-color-active;
  }

  .svg {
    width: 24px;
    height: 24px;
    fill: transparent;
    stroke: currentColor;
  }
  .svg:hover,
  .svg:focus {
    fill: $accent-color-hover;
  }
}
