:root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
}

body {
  margin: 0;
  font-size: 14px;
  background-color: $background-color;
}

body,
a {
  font-family: $main-font;
  color: $primary-text-color;
}

a {
  text-decoration: none;
}

button,
a {
  transition: 0.2s all ease-in;
  cursor: pointer;
  box-sizing: border-box;
}

main {
  flex: 1;
}

ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
