@import './reset.scss';

//base styles
:root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}
body {
  font-family: $main_font;
  font-size: $font_size_base;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: $primary_text_color;
  background-color: $primary_background_color;
}
