.presentationItem {
  &_mainContainer {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
  }

  &_header {
    margin-bottom: 6px;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.17;
  }

  &_text {
    margin-bottom: 24px;
  }
}
